version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    command: php -S 0.0.0.0:8000 -t public
    ports:
      - "8000:8000"
    networks:
      - eheio-network

  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: #changeME
      POSTGRES_USER: #changeME
      POSTGRES_PASSWORD: #changeME
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./docker/db/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U eheio"]
      interval: 5s
      retries: 5
    networks:
      - eheio-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - eheio-network

networks:
  eheio-network:
    driver: bridge

volumes:
  db_data:
