templates > dummy>
home.html.twig
{% extends 'base.html.twig' %}|
{& block title &} f{ parent() }} • Hello Home!{* endblock %}
{% block body %}
    <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    {{ include('partials/_navbar.html.twig') }}
<div class="example-wrapper">
    <h1>{{ text }}</h1>
    <ul>
        {% for year in years %}
            <li> {{ year }} </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}